<div class="row  py-3 bg-light">
        <div class="col">
            <h4>Menu with checkboxes</h4>
            <div class="d-flex justify-content-center">
                <div id="menuContainer2"  class="card"></div>

            </div>
        </div>
        <div class="col demo-notes">
            <div>
                <h4>Code</h4>
                <div class="bg-light">
                    <pre class="prettyprint lang-html"><code>&lt;button aria-haspopup="true"&gt;Menu button &lt;/button&gt;
&lt;ul role="menu" style="display:none" aria-label="Some menu"&gt;
    &lt;li role="menuitemcheckbox" tabindex="0">One&lt;/li&gt;
    &lt;li role="menuitemcheckbox" tabindex="0">Two&lt;/li&gt;
    &lt;li role="menuitemcheckbox" tabindex="0" aria-checked="true">Three&lt;/li&gt;
    &lt;li role="menuitemcheckbox" tabindex="0">Four&lt;/li&gt;
...
&lt;/ul&gt;
                        </code>
                    </pre>
                </div>
                <h4>Screenreader text</h4>
                <p class="text-monospace text-white bg-black border rounded">
                    <span class="text-info">*focus on the button*</span>
                    <br>Menu Button
                    <br><span class="text-success">menu button subMenu clickable</span>    
                    <br>
                    <br>One <span class="text-success">not checked 1 of 4</span>
                    <br>Two <span class="text-success">not checked 2 of 4</span>
                    <br>Three <span class="text-success">checked 3 of 4</span>
                    <br>Four <span class="text-success">not checked 4 of 4</span>
                </p>
            </div>
        </div>
    </div>