<div class="row  py-3">
        <div class="col">
            <h4>Dialog with radios</h4>
            <div class="d-flex justify-content-center " >
                <div id="menuContainer3" class="w-50"></div>
            </div>

            <h5>Keyboard instructions</h5>
            <ul>
                    <li>When a dialog opens, focus moves to an element inside the dialog.</li>
                    <li><kbd>Tab</kbd>:
                      <ul>
                        <li>Moves focus to the next tabbable element inside the dialog.</li>
                        <li>If focus is on the last tabbable element inside the dialog, moves focus to the first tabbable element inside the dialog. </li>
                      </ul>
                    </li>
                    <li><kbd>Shift + Tab</kbd>:
                      <ul>
                        <li>Moves focus to the previous tabbable element inside the dialog.</li>
                        <li>If focus is on the first tabbable element inside the dialog, moves focus to the last tabbable element inside the dialog.</li>
                      </ul>
                    </li>
                  <li><kbd>Escape</kbd>: Closes the dialog.</li>
                  </ul>
    
            <h4>Links</h4>
            <ul>
                <li>
                    <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#dialog_modal" 
                    class="font-weight-bold" target="_blank">WAI-ARIA Dialog (Modal)</a>
                </li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio" target="_blank">Input group</a></li>
            </ul>

            <h4>Notes</h4>
            <ul>
                <li>
                    When <code>&lt;input type="radio"&gt;</code> have the same <code>name</code> attribute, it is possible to navigate through each by <kbd>Up Arrow, Down Arrow</kbd> without adding event listeners.
                </li>
                <li><code>role="dialog"</code> hides everything outside the element for NVDA Links list. </li>
            </ul>
        </div>
        <div class="col demo-notes">
            <div>
                <h4>Code</h4>
                    <pre  class="prettyprint"><code>&lt;button aria-haspopup="true"&gt;Menu button &lt;/button&gt;
&lt;div role="dialog" style="display:none" aria-label="Some dialog"&gt;
    &lt;label&gt;
        &lt;input name="dialogRadio" type="radio"&gt;
        One
    &lt;/label&gt;
    &lt;label&gt;
        &lt;input name="dialogRadio" type="radio"&gt;
        Two
    &lt;/label&gt;
    ...
    &lt;button&gt;Apply changes&lt;/button&gt;
    &lt;button&gt;Close&lt;/button&gt;
&lt;/div&gt;</code></pre>
                <h4>Screenreader text</h4>
                <p class="text-monospace text-white bg-black border rounded">
                    <span class="text-info">*focus on the button*</span>
                    <br>Dialog Button
                    <br><span class="text-success">menu button subMenu clickable</span>  
                    <br><span class="text-info">*click on the button, dialog opens*</span>
                    <br>Change Options <span class="text-success">dialog expanded</span> 
                    <br>Three <span class="text-success">radio button checked 1 of 4</span>
                </p>
            </div>
        </div>
    </div>